/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 !important;
}

@font-face {
    font-family: yekan_bakh_regular;
    src: url('assets/YekanBakhRegular.ttf');
}

@font-face {
    font-family: yekan_bakh_fat;
    src: url('assets/YekanBakhfat.ttf');
}

@font-face {
    font-family: yekan_bakh_heavy;
    src: url('assets/YekanBakhheavy.ttf');
}
@font-face {
    font-family: samsung_sans;
    src: url('assets/SamsungSansBold.ttf');
}